@media only screen and (max-width:688px) {

    /* banner */
    .banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* full  */
    .full{
        justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .menu-container{
        background-color: white;
        border: none;
    }
      .transfer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
      }
       .article{
        margin-top: 2%;
       }

       /* footer */
       .policies{
            display: flex;
            flex-direction: column;
       }
    }
